openapi: 3.0.0
info:
  title: DocuSign API
  description: Wrapper API for DocuSign
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/docusign-api
servers:
  - url: https://api.oregonstate.edu/v1
security:
  - OAuth2:
      - full
paths:
  /docusign/envelopes/{envelopeId}/documents/{documentId}/tabs:
    get:
      summary: Returns the tabs on a document
      tags:
        - tabs
      description: Returns the tabs on a document.
      operationId: getEnvelopeDocumentTabs
      parameters:
        - $ref: '#/components/parameters/envelopeId'
        - $ref: '#/components/parameters/documentId'
        - name: filter[pageNumbers]
          in: query
          required: false
          description: Filters for tabs that occur on the specified page number
          schema:
            type: array
            items:
              type: number
              format: integer
              example: 1
        - name: filter[tabTypes]
          in: query
          required: false
          description: Filters for tabs by types
          schema:
            type: array
            items:
              type: string
              enum: &tabTypeEnums
                - approve
                - checkbox
                - commentThread
                - company
                - dateSigned
                - date
                - decline
                - draw
                - emailAddress
                - email
                - envelopeId
                - firstName
                - formula
                - fullName
                - initialHere
                - lastName
                - list
                - notarize
                - note
                - number
                - polyLineOverlay
                - radioGroup
                - signerAttachment
                - signHere
                - smartSection
                - ssn
                - tabGroups
                - text
                - title
                - view
                - zip
          style: form
          explode: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TabSetResult'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.oregonstate.edu/oauth2/token
          scopes:
            full: Full access to the API
  parameters:
    envelopeId:
      name: envelopeId
      in: path
      description: Unique envelope ID
      required: true
      schema:
        type: string
        example: 0000-aaaa-1234567
    documentId:
      name: documentId
      in: path
      description: Unique document ID
      required: true
      schema:
        type: string
        example: ABCD
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
  schemas:
    SelfLink:
      properties:
        self:
          type: string
          format: uri
          description: Self-link of current resource
    TabResource:
      properties:
        id:
          type: string
          description: A unique ID of tab
          example: abcd-0000-12345-ABCDE
        type:
          type: string
          enum: [tab]
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            name:
              type: string
              description: The name of the tab
              example: SignHere
              nullable: false
            label:
              type: string
              description: The label associated with the tab
              example: Signature 123456-abcd-0000-ABCDEFG
              nullable: false
            scope:
              type: string
              description: The scope of the tab group
              example: Document
              nullable: true
            stampType:
              type: string
              description: The type of stamp
              example: signature
              nullable: true
            tabType:
              type: string
              description: The type of tab
              enum: *tabTypeEnums
              nullable: false
            value:
              type: string
              description: The value of the tab
              example: Approve
              nullable: true
            originalValue:
              type: string
              description: The initial value of the tab when it was sent to the recipient
              example: Approve
              nullable: true
            scaleValue:
              type: number
              format: float
              description: Scale value of the tab
              example: 1.2
              nullable: true
            pageNumber:
              type: number
              format: integer
              description: The page number that this tab occurs
              example: 1
              nullable: false
            optionalInd:
              type: boolean
              description: Identifies whether the tab is optional
              nullable: true
            recipientId:
              type: string
              description: Unique ID of the recipient
              example: xyz-123-OPQRSTU
              nullable: false
            position:
              type: object
              nullable: false
              properties:
                x:
                  type: number
                  format: integer
                  description: The horizontal offset of the tab on the page
                  example: 100
                y:
                  type: number
                  format: integer
                  description: The vertical offset of the tab on the page
                  example: 200
            templateRecipient:
              type: object
              nullable: true
              properties:
                lockedInd:
                  type: boolean
                  description: >-
                    When set to true, the sender cannot change any attributes of the recipient
                requiredInd:
                  type: boolean
                  description: When set to true, the sender may not remove the recipient
            signer:
              type: object
              nullable: true
              properties:
                lockedInd:
                  type: boolean
                  description: When set to true, the signer cannot change the data of the custom tab
                requiredInd:
                  type: boolean
                  description: When set to true, the signer is required to fill out this tab
            shared:
              type: object
              nullable: true
              properties:
                sharedInd:
                  type: boolean
                  description: When set to true, this custom tab is shared
                  nullable: true
                requireAllInd:
                  type: boolean
                  description: >-
                    When set to true and `sharedInd` is true, information must be entered to
                    complete the envelope.
                requireInitialOnSharedChangeInd:
                  type: boolean
                  description: >-
                    When set to true, the signer is required to initial when they modify a
                    shared field
            font:
              type: object
              nullable: true
              properties:
                family:
                  type: string
                  description: The font to be used for the tab value
                  example: lucidaconsole
                size:
                  type: string
                  description: The font size used for the information in the tab
                  example: size10
                color:
                  type: string
                  description: The font color to use for the information in the tab
                  example: black
            size:
              type: object
              nullable: true
              properties:
                height:
                  type: number
                  format: integer
                  description: The height of the tab in pixels
                  example: 11
                width:
                  type: number
                  format: integer
                  description: The width of the tab in pixels
                  example: 42
                maxLength:
                  type: number
                  format: integer
                  description: >-
                    Describes the maximum length of the property when the property is a string
                  example: 4000
            validation:
              type: object
              nullable: true
              properties:
                pattern:
                  type: string
                  description: A regular expression used to validate input for the tab
                  example: "^\\d{9}$"
                message:
                  type: string
                  description: The message displayed if the custom tab fails input validation
                  example: Validation failed
            concealValueOnDocumentInd:
              type: boolean
              nullable: true
              description: >-
                When set to true, the field appears normally while the recipient is adding or
                modifying the information in the field, but the data is not visible (the characters
                are hidden by asterisks) to any other signer or the sender
            disableAutoSizeInd:
              type: boolean
              nullable: true
              description: >-
                When set to true, disables the auto sizing of single line text boxes in the signing
                screen when the signer enters data. If disabled users will only be able enter as
                much data as the text box can hold.
            selectedInd:
              type: boolean
              nullable: true
              description: >-
                An Optional attribute for checkbox type tab. When true, the checkbox is selected
            tabGroupLabels:
              type: array
              nullable: true
              description: An array of tab group labels that uniquely identify tab groups
              items:
                type: string
                example: Checkbox Group 0000-aaaa-1234567
            group:
              type: object
              nullable: true
              properties:
                name:
                  type: string
                  description: The name of the group
                  example: Radio Group 0000-aaaa-1234567
                label:
                  type: string
                  description: A unique identifier for a tab group
                  example: Checkbox Group 0000-aaaa-1234567
                rule:
                  type: string
                  description: >-
                    Specifies how `maximumAllowed` and `minimumRequired` are interpreted when
                    selecting tabs in a `tabGroup`
                minimumRequired:
                  type: number
                  format: integer
                  description: >-
                    The minimum number of tabs within the `tabGroup` that should be checked,
                    populated, or signed. This property is used for validation.
                  example: 0
                maximumAllowed:
                  type: number
                  format: integer
                  description: >-
                    The maximum number of tabs within the `tabGroup` that should be checked,
                    populated, or signed. This property is used for validation.
                  example: 1
            conditionalParent:
              type: object
              nullable: true
              properties:
                label:
                  type: string
                  description: The label of the parent tab that controls this tab's visibility.
                  example: Radio Group 0000-aaaa-1234567
                value:
                  type: string
                  description: >-
                    The value of the parent tab that controls the tab's visibility. If the parent
                    tab is a Checkbox, Radio button, Optional Signature, or Optional Initial use
                    `on` as the value to show that the parent tab is active.
                  example: Radio1
            order:
              type: number
              format: integer
              nullable: true
              description: >-
                A positive integer that sets the order the tab is navigated to during signing.
              example: 0
            listItems:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  text:
                    type: string
                    description: Specifies the text that is shown in the dropdown list.
                    example: AABC
                  value:
                    type: string
                    description: Specifies the value that is used when the list item is selected.
                    example: AABC
                  selectedInd:
                    type: boolean
                    description: >-
                      When set to true, indicates that this item is the default selection shown to
                      a signer.
            formula:
              type: string
              nullable: true
              description: Contains the formula for calculating the value of this tab.
              example: "[Mother Siblings] + [Father Siblings] = [Dropdown xxx-123-ABC]"
            roundDecimalPlaces:
              type: number
              format: integer
              nullable: true
              description: The number of decimal places to round to.
              example: 1
            hiddenInd:
              type: boolean
              nullable: true
              description: |
                If this is a regular formula (no paymentDetails property is present):
                  true: The tab is hidden.
                  false: The tab is shown.
                If the formula is payment item (a paymentDetails property is present):
                  true: The tab is displayed as a payment.
                  false: The tab is displayed as a regular formula.
    TabSetResult:
      properties:
        links:
          allOf:
            - $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/TabResource'
    ErrorObject:
      properties:
        status:
          type: string
          description: HTTP status code
          example: '123'
        title:
          type: string
          description: A short, user readable summary of the error
          example: Not Found
        code:
          type: string
          description: An application-specific error code
          example: '1234'
        detail:
          type: string
          description: A long description of the error that may contain instance-specific
            details
        links:
          properties:
            about:
              type: string
              format: uri
              description: A link to further information about the error
              example: https://developer.oregonstate.edu/documentation/error-reference#1234
    ErrorResult:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
